azure-functions
azure-search-documents
azure-storage-blob
azure-core
requests
pypdf
python-docx
python-dotenv
azure-data-tables
# Bibliotecas para PDF e OCR Local
pymupdf4llm
pymupdf
rapidocr-onnxruntime
onnxruntime